.shopitem{
    width: 23%;
     
    height: 350px;
    flex-direction: column;
    align-items: center;
    
}
.image{
    width: 100%;
    height: 95%;
    background-size: cover;
 
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    background-position: center;
    margin-bottom: 5px;
}
.shop-footer{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.btn{
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: white;
    color:black;
    text-transform: uppercase;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 120px;
    opacity: 0.6;
   
    

    &:hover{
 
        background-color: black;
        color:white;
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, .95);
        
    }
}

