
.collection-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.preview {
  display: flex;
  justify-content: space-around;
 
}

.title {
  font-size: 28px;
  margin-bottom: 25px;
  margin-left: 10px;
}
